<!--David Lockwood
    Home Page view-->

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        a:link {
            color: black;
            background-color: transparent;
            text-decoration: none;
        }

        a:visited {
            color: black;
            background-color: transparent;
            text-decoration: none;
        }

        a:hover {
            color: black;
            background-color: transparent;
            text-decoration: none;
        }

        a:active {
            color: black;
            background-color: transparent;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Where da grub at?</h1>
    </div> 
    <img src="@Url.Content("~/grub.jpeg")" />
    <div class="text-center">
        <p></p>
        <p><a href="@Url.Content("~/Items")">Manage your inventory!</a></p>
        <p><a href="@Url.Content("~/Recipes")">Browse our recipes!</a></p>
        <p><a href="@Url.Content("~/ShoppingLists")">Create a shopping list!</a></p>
    </div>
</body>
</html>
